.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.5);
    animation: popUp 0.3s ease forwards; 
    transform: scale(0.8);
    opacity: 0; 
    z-index: 3;
}

@keyframes popUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.login-content {
    background: linear-gradient(to right, black, #001C2D);
    padding: 50px 120px 50px;
    border: 1px solid #797979;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
}


.login-content h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5px;
    margin-right: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #797979;
}

.form-group input::placeholder {
    color: #797979;
    font-size: 12px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.login-content .form-buttons {
    display: flex;
    flex-direction: column;
}

.login-content .form-buttons button {
    background-color: #007677;
    color: white;
    width: 95%;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px; 
}

button:last-child {
    margin-right: 0; 
}

.login-content .form-buttons button:hover {
    background-color: white;
    color: #007677;
    border: 1px solid #007677;
}

.login-content .form-buttons .signUp {
    background-color: white;
    color: #007677;
    width: 95%;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px; 
}

.login-content .form-buttons .signUp:hover {
    background-color: #007677;
    color: white;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px; 
}

.login-content .forgotPassword button {
    background-color: transparent; 
    color: #007bff;
    text-decoration: underline; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    margin-bottom: 10px;
}

.login-content .forgotPassword button:hover {
    color: #013a77; 
}

.login-content .close-button {
    margin-left: auto;
}

.login-content .close-button:hover {
    color: #007bff;
}