.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.5); /* Initial background color */
    animation: popUp 0.3s ease forwards; /* Apply the animation */
    transform: scale(0.8); /* Initial scale to 80% */
    opacity: 0; /* Initial opacity to 0 */
}

@keyframes popUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.login-content {
    background-image: url('../../components/background.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; 
    background-position: center; 
    padding: 50px 120px 50px;
    border: 1px solid #797979;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
}


.login-content h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5px;
    margin-right: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #797979;
}

.form-group input::placeholder {
    color: #797979;
    font-size: 12px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.login-content .form-buttons {
    display: flex;
    flex-direction: column;
}

.login-content .form-buttons button {
    background-color: #007677;
    color: white;
    width: 95%;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px; /* Add spacing between buttons */
}

button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.login-content .form-buttons button:hover {
    background-color: white;
    color: #007677;
    border: 1px solid #007677;
}

.login-content .form-buttons .signUp {
    background-color: white;
    color: #007677;
    width: 95%;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px; /* Add spacing between buttons */
}

.login-content .form-buttons .signUp:hover {
    background-color: #007677;
    color: white;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px; /* Add spacing between buttons */
}

.login-content .forgotPassword button {
    background-color: transparent; /* Set background to transparent */
    color: #007bff; /* Set text color */
    text-decoration: underline; /* Underline the text */
    border: none; /* Remove border */
    cursor: pointer; /* Set cursor to pointer */
    padding: 0; /* Remove padding */
    margin-bottom: 10px; /* Add margin-bottom for spacing */
}

.login-content .forgotPassword button:hover {
    color: #013a77; /* Change text color on hover */
}

.login-content .close-button {
    margin-left: auto;
}

.login-content .close-button:hover {
    color: #007bff;
}